<html>
  <head>
    <style>
      table {
        font-family: "メイリオ", sans-serif;
        border-collapse: collapse;
        width: 80%;
      }
      td, th {
        border: 1px solid #000000;
        text-align: left;
        padding: 8px;
      }
    </style>
  </head>
  <body>
    <table border="1">
      <tr>
        <% @table["data"].first.keys.each do |key| %>
          <th><%= key %></th>
        <% end %>
      </tr>
      <% @table["data"].each do |item| %>
        <tr>
          <% item.each_value do |value| %>
            <td><%= value %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </body>
  <div>
    <div>
      <a href="/datafile/<%= params[:id] %>/download" class="btn btn-primary">Excelファイルをダウンロード</a>
    </div>
    <p>タイトル : <%= @title_template %></p>
    <pre class="p-3 mb-0">
      <code class="language-javascript">
<%= @content %>
      </code>
    </pre>
    <p>openHAB 設定ファイル名 : <%= @basename %></p>
    <p>拡張子 : <%= @file_type %></p>
  </div>
  <div class="d-flex mb-4">
    <form action="/template/<%= @id_template %>/edit" method="get">
      <input type="submit" value="Template編集" class="btn btn-primary me-2">
    </form>
    <form action="/datafile/<%= params[:id] %>/edit" method="get">
      <input type="submit" value="Datafile編集" class="btn btn-primary me-2">
    </form>
    <form action="/datafile/<%= params[:id] %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Datafile削除" class="btn btn-primary">
    </form>
  </div>
  <div>
    <a class="btn btn-secondary" href="/datafile">Datafile一覧に戻る</a>
  </div>
</html>